<nav class="main-nav">
  <div class="nav-container">
    <div class="brand">
      <a routerLink="/game">BlackjackRoyale</a>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li>
        <a routerLink="/game" routerLinkActive="active">Game</a>
      </li>
      <li>
        <a routerLink="/stats" routerLinkActive="active">Stats</a>
      </li>
    </ul>
  </div>
</nav>