<div class="card login-card">
  <div class="tabs">
    <button class="tab" 
    routerLink="/login" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    LOG IN
    </button>
    <button
      class="tab"
      routerLink="/register"
      routerLinkActive="active">
      SIGN UP
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field-wrapper">
      <input
        type="text"
        placeholder="Username"
        class="input-field"
        formControlName="username"
      />
    </div>
    <div class="field-wrapper password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        class="input-field"
        formControlName="password"
      />
      <span class="eye-icon" (click)="togglePassword()">
        {{ showPassword ? '🙈' : '👁️' }}
      </span>
    </div>
    <button type="submit" class="btn btn-primary">SIGN UP</button>
  </form>
  <div *ngIf="loginResult$ | async as result">
    <p *ngIf="result.message !== 'Login successful'">Login failed: {{ result.message }}</p>
  </div>
</div>
